<div>
    <h1>Bienvenidos</h1>
    {{!-- <h1>Productos Http</h1>
<ul>
    {{#each products}}
    <li>
        <p>Id: {{id}}</p>
        <p>Title: {{title}}</p>
        <p>Descripción: {{description}}</p>
        <p>Price: {{price}}</p>
        <p>Img: {{thumbnail}}</p>
        <p>Code: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
        <p>Status: {{status}}</p>
    </li>
    {{/each}}
</ul> --}}
</div>
