<div>
    <h1>Productos Socket</h1>
<ul id="container">
    {{#each products}}
    <li>
        <p>Id: {{id}}</p>
        <p>Title: {{title}}</p>
        <p>Descripción: {{description}}</p>
        <p>Price: {{price}}</p>
        <p>Img: {{thumbnail}}</p>
        <p>Code: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
        <p>Status: {{status}}</p>
    </li>
    {{/each}}
</ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>